@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@font-face {
    font-family:"Freedom 5";
    src: url("../asset/fonts/freedom45-axrxg.ttf") format("truetype");
}
ul {
  padding: 0;
  margin: 0;
}

li {
  cursor: pointer;
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
div {
  font-family: "Montserrat", sans-serif;
}

small {
    font-size: 13px !important;
}

a:hover {
    color: #333;
}

.listStyle {
  list-style-type: disc !important;
}
.importantTitle {
  font-family: "rosslaire-regular", sans-serif !important;
}
.swiper {
    height: 670px;
}
.swiper-slide {
  height: auto;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  content: " ";
}
.swiper-button-prev,
.swiper-button-next {
  height: 45px;
  width: 67px;
}
.swiper-button-prev img,
.swiper-button-next img {
  padding: 8px;
  width: 70%;
}
.swiper-button-prev,
.swiper-button-next {
  background-image: url("../asset/icon/bgSwiperBtn.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

button {
  outline: none;
  border: none;
}
p {
  font-size: 16px !important;
}
img {
    max-width: 100%;
    height: 100%;
    width: 100%;
}
section {
  overflow: hidden;
}
.sectionMain {
    margin-top: 50px;
}
a {
  text-decoration: none;
  color: #000;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
html {
  scroll-behavior: smooth;
}

.titleHeadForEachP {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
    line-height: 42px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.titleHeadForEachP span {
    color: #59815b;
}

.explore {
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1px;
	background: none;
	color: #333;
	position: relative;
	outline: none;
	border: none;
	height: 50px;
	width: 190px;
    font-weight: 700;
    margin-top: 15px;
    background: #59815b;
    color: #fff;
    padding-right: 25px;
	font-size: 14px;
	z-index: 2;
	transition: .01s .23s ease-out all;
	overflow: hidden;
	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 55%;
		background: transparent;
		z-index: -1;
		transition: .3s ease-in all;
	}
	&:after {
		content: '';
		position: absolute;
		left: -5%;
		top: 5%;
		height: 90%;
		width: 5%;
		background: #59815b;
		z-index: -1;
		transition: .4s .02s ease-in all;
	}
}

.explore .icon-right {
	position: absolute;
	top: 0;
	right: 0;
	&:after {
		font-family: "FontAwesome";
		content: '\2192';
		font-size: 14px;
		display: inline-block;
		position: relative;
		top: 26px;
        right: 18px;
		transform: translate3D(0, -50%, 0);
	}
	&.after:after {
		left: -250px;
		color: black;
		transition: .15s .25s ease left, .5s .05s ease color;
	}
	&.after:before {
		content: '';
		position: absolute;
		left: -230px;
		top: 14px;
		opacity: 0;
		transition: .2s ease-in all;
	}
}

.container-fluid {
  padding: 0;
}

.pd-222 {
  padding: 0.5rem;
}

/* header page */

.header-page {
  display: block;
  position: absolute;
  top: 0;
  z-index: 1000;
  width: 100%;
}
.container .boxUpInfo,
.container .boxBottomNav {
  padding-bottom: 5px;
  border-bottom: 1px solid #fff;
}
.container .boxrightInfo {
  padding-right: 0;
}
.container .boxleftInfo {
  padding-left: 0;
}
.container .boxrightInfo .items-boxrightInfo li {
  margin-left: 13px;
}

.container .boxleftInfo a,
.container .boxrightInfo .items-boxrightInfo li a {
  font-size: 14px;
  vertical-align: middle;
  color: #fff;
}
.container .boxrightInfo .items-boxrightInfo li:nth-child(3) a {
  font-size: 12px;
}

.container .boxleftInfo a:nth-child(2) {
  margin-left: 15px;
}
.container .boxleftInfo a span:nth-child(2) {
  padding-left: 8px;
}

.container .boxBottomNav .navbar {
  width: auto;
  margin: 0;
  position: relative;
  padding-top: 5px;
  display: inline-block;
  vertical-align: middle;
}
.container .boxBottomNav .navbar .items-nav {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  vertical-align: middle;
}
.container .boxBottomNav .navbar .items-nav > .itemNav,
.travelDetailed .itemBannerNConner
{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.container
  .boxBottomNav
  .navbar
  .items-nav
  > .itemNav
  > a:hover
  .activeHoverNavItem {
  clip-path: inset(0 0 0 0);
  -webkit-clip-path: inset(0 0 0 0);
  -webkit-transition: 1s cubic-bezier(0.23, 0.35, 0, 1.09);
  -o-transition: 1s cubic-bezier(0.23, 0.35, 0, 1.09);
  transition: 1s cubic-bezier(0.23, 0.35, 0, 1.09);
}
.container .boxBottomNav .navbar .items-nav > .itemNav > a:hover .item-out {
  color: #59815b;
}

.clip0 {
    clip-path: inset(0 0 0 0) !important;
    -webkit-clip-path: inset(0 0 0 0) !important;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.container .boxBottomNav .navbar .items-nav > .itemNav > a .activeHoverNavItem,
.travelDetailed .itemBannerNConner .activeHoverNavItem
{
  -webkit-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
  clip-path: inset(0 100% 0 0);
  -webkit-clip-path: inset(0 100% 0 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  margin-left: -21px;
  margin-top: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  will-change: transform;
}
.container
  .boxBottomNav
  .navbar
  .items-nav
  > .itemNav
  > a
  .activeHoverNavItem
  svg,
  .travelDetailed .itemBannerNConner .activeHoverNavItem svg
  {
  position: absolute;
  top: 0;
  height: 100%;
}

.container
  .boxBottomNav
  .navbar
  .items-nav
  > .itemNav
  > a
  .activeHoverNavItem
  .ver-mid
  {
  position: absolute;
  top: 0;
  left: 12px;
  width: calc(100% - 39px);
  height: 100%;
  border-radius: 4px;
  background-color: #fff;
}
.container
  .boxBottomNav.scrollHeader {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.7);
    transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -webkit-transition: all 0.7s ease-in-out;
  }
.container
  .boxBottomNav nav li a.active .activeHoverNavItem{
    -webkit-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
    clip-path: inset(0 0 0 0) !important;
    -webkit-clip-path: inset(0 0 0 0) !important;
  }
.container
  .boxBottomNav nav li a.active .item-out{
     color:#59815b;
  }
.container
  .boxBottomNav nav li a.active  {
    -webkit-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
    clip-path: inset(0 0 0 0);
    -webkit-clip-path: inset(0 0 0 0);
  }
.container
  .boxBottomNav
  .navbar
  .items-nav
  > .itemNav
  > a
  .activeHoverNavItem
  svg:nth-child(1),
  .travelDetailed .itemBannerNConner .activeHoverNavItem svg:nth-child(1)
  {
  left: 0;
}
.container
  .boxBottomNav
  .navbar
  .items-nav
  > .itemNav
  > a
  .activeHoverNavItem
  svg:nth-child(3),
  .travelDetailed .itemBannerNConner .activeHoverNavItem svg:nth-child(3)
  {
  right: 17px;
}
.container .boxBottomNav .navbar .items-nav > .itemNav > a .item-out,
.travelDetailed .itemBannerNConner .item-out
{
  position: relative;
  display: block;
}
.container .boxBottomNav .navbar .items-nav > .itemNav > a .item-out span {
  position: relative;
  display: inline-block;
}
.container .boxBottomNav .navbar .items-nav > .itemNav > a {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: top;
  padding: 0 29px;
  color: #fff;
  font-style: normal;
  font-size: 15px;
  font-weight: 600;
  line-height: 28px;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.container .boxBottomNav .navbar .items-nav > .itemNav:nth-child(4) a {
  height: 76px;
  max-width: 100%;
  max-height: 101px;
}

/* menu mobile */
.header-mobile {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 1000;
}
.header-mobile .logoMobile {
  width: 76px;
  max-height: 69px;
}

.header-mobile .container-fluid {
  background-color: #fff;
}

.header-mobile .upMobileNav {
  padding: 15px;
}
.header-mobile .upMobileNav .btnMobile .ic-menu-mobile {
  width: 31px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 16px;
  align-items: flex-end;
}
.header-mobile .upMobileNav .btnMobile .ic-menu-mobile span:nth-child(1),
.header-mobile .upMobileNav .btnMobile .ic-menu-mobile span:nth-child(3) {
  width: 100%;
}
.header-mobile .upMobileNav .btnMobile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header-mobile .upMobileNav .btnMobile .txtIcMobile {
  text-transform: uppercase;
  font-weight: 700;
}
.header-mobile .upMobileNav .btnMobile .ic-menu-mobile {
  margin-left: 8px;
}
.header-mobile .upMobileNav .btnMobile .ic-menu-mobile span:nth-child(2) {
  width: 24px;
}
.header-mobile .upMobileNav .btnMobile .ic-menu-mobile span {
  background-color: #000;
  height: 2.5px;
  border-radius: 2px;
}

.header-mobile .bottomMobileNav .nav-mobile {
  padding: 20px;
}
.header-mobile .bottomMobileNav .nav-mobile ul li:nth-child(n + 2) {
  margin-top: 15px;
}
.header-mobile .bottomMobileNav .nav-mobile ul li a {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #333;
}
.header-mobile .bottomMobileNav .nav-mobile ul li:nth-child(1) a {
  color: #59815b;
}
.header-mobile .bottomMobileNav .nav-mobile ul li a:hover {
  color: #59815b;
}

/* footer */

footer {
  background: url("../asset/imgs/hagiangfooter.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

footer::before {
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

footer .container {
    position: relative;
    max-width: 1100px;
}

footer p,
footer li,
footer a ,
footer h2
{
    color: #fff;
}

footer .container .row .col-4:nth-child(3) a img {
    width: 119px;
    height: 119px;
}
footer .container .row .col-4 h2 {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
    text-transform: uppercase;
}

footer .container .row .col-4 p {
   font-size: 15 !important;
   line-height: 22px;
}

footer .container .row .col-4:nth-child(1) p {
    font-weight: 350;
 }

 footer .container .row .col-4:nth-child(1) > p {
    font-size: 14px !important;
    letter-spacing: 0.2px;
 }
 footer .container .row .col-4:nth-child(1) > ul {
    display: flex;
    flex-direction: row;
 }
 footer .container .row .col-4:nth-child(1) > ul li:nth-child(n+2){
    margin-left: 7px;
 }
 footer .container .row .col-4:nth-child(1) > ul li{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 footer .container .row .col-4:nth-child(1) > ul li i{
    font-size: 15px;
    color: #59815b;
 }

 footer .container .row .col-4:nth-child(1) > ul li:hover{
    background: #59815b;
    color: #fff;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
 }
 footer .container .row .col-4:nth-child(1) > ul li:hover i{
    color: #fff;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
 }

 footer .container .row .col-4:nth-child(2) > ul li:nth-child(n + 2){
    margin-top: 14px;
 }
 footer .container .row .col-4:nth-child(2) > ul li a{
    font-size: 15px;
    font-weight: 300;
 }
 footer .container .row .col-4:nth-child(3) > p {
    font-size: 14px !important;
    font-weight: 350;
    margin: 12px 0;
 }
 footer .container .row .col-4:nth-child(3) > p:nth-child(3) {
    margin-top: 0;
 }

 footer .container .row .col-4 {
    padding: 45px 0;
 }
 footer .container-fluid {
    position: relative;
    background: #59815b;
    padding: 7px 0;
 }

footer .container-fluid p{
   margin-bottom: 0;
   font-size: 13px !important;
   line-height: 22px;
   font-weight: 300;
}
 




/* banner */

.banner {
  position: relative;
}
.banner > div:nth-child(2) {
  position: absolute;
  bottom: 0;
  z-index: 999;
}

.banner .swiper-slide .txt {
  position: absolute;
  z-index: 999;
  top: 40%;
  left: 0;
  width: 100%;
  text-align: center;
  color: #fff;
}
.banner .swiper-slide .txt h3 {
  font-weight: 600;
  margin-bottom: 10px;
  line-height: 28px;
}
.banner .swiper-slide .txt p {
    font-size: 14px !important;
}
.banner .swiper-slide div:nth-child(1) {
  height: 100%;
}
.banner .swiper-slide > div:nth-child(1)::before {
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}
.banner .swiper-slide .txt p {
  padding: 0 30%;
}


/* form */

  .formWrapper {
      /* border-top: 1px solid #e0e0e0;
      border-top-style: dashed */
  }
  .formWrapper form .seperate-wrapInput {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .formWrapper form .seperate-wrapInput .form-control:nth-child(2) {
    margin-left: 5px;
  }

  .formWrapper form > .form-control {
    margin-bottom: 10px;
  }

  .formWrapper form textarea {
    background-color: #f6f6f6;
    width: 100%;
    height: 130px;
    border: none;
    padding: 20px 22px;
  }
  
  .form-control {
    border: none;
    border-radius: 0;
  }
  
  .headerForm h2 {
    margin: 0;
  }
  
  .form-control {
    /* margin-bottom: 10px; */
    position: relative;
    padding: 0;
    background: transparent;
  }
  
  .form-control label {
    display: inline-block;
    margin-bottom: 5px;
  }
  
  .form-control input {
    border: none;
    background: transparent;
    display: block;
    font-family: inherit;
    font-size: 14px;
    width: 100%;
    background-color: #f6f6f6;
    padding: 20px 22px;
  }
  
  .form-control input:focus {
    outline: 0;
    border-color: #777;
  }
  
  .form-control.success input
  {
    border-color: #2ecc71;
  }
  .drop-container.success {
      border: 1px solid #2ecc71;
  }
  
  
  .form-control.error input{
    border-color: #e74c3c;
  }
  
  .drop-container.error {
      border: 1px solid #e74c3c;
  }
  .form-control i {
    visibility: hidden;
    right: 20px;
    position: absolute;
  }
  
  .form-control.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
    top: 36%;
  }
  
  .form-control.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
    top: 29%;
  }
  
  .form-control small {
    color: #e74c3c;
    bottom: -5px;
    left: 20px;
    display: none;
    margin-top: 2px;
  }
  
  .form-control.error small {
    display: block;
  }
  .form-control.success small {
    display: none;
  }
  
  .form .button-5 {
    margin-top: 0.5rem;
  }
  .form .button-5 {
    padding: 10px 40px;
    background-color: #59815b;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    border: none;
    letter-spacing: 0.8px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .form .actionSubmitForm {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .form .loading {
    margin-top: 15px;
    margin-left: 15px;
  }
  .form .loader {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #333;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  #formInTouch .form-control input,
  #formInTouch  textarea
  {
    background-color: rgba(255,255,255,0.11111);
    padding: 15px 16px;
    color: #fff;
  }
  #formInTouch .loader {
    border-top: 3px solid #fff;
  }

  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
.bannerBigEpage {
    position: relative;
    width: 100%;
    height: 452px;
}
.bannerBigEpage::before {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bannerBigEpage .txt-b {
    position: absolute;
    left: 75px;
    top: 70%;
}
.bannerBigEpage .txt-b h1{
    font-size: 52px;
    letter-spacing: 0.8px;
    font-weight: 900;
    font-family: 'Oswald', sans-serif;
    color: #fff;
}



/* Contact */

.formContact .container .row .col-6:nth-child(2) .formContacPageWrap .headerForm h2 {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 42px;
    font-family: 'Oswald', sans-serif;
}
.formContact .container:nth-child(1) .row {
    padding-top: 120px;
    padding-bottom: 100px;
}
.formContact .container:nth-child(2) .row {
    padding-bottom: 100px;
}
.formContact .container .row .col-6:nth-child(2) .formContacPageWrap .headerForm h2 span{
    color:#59815b;
}

.formContact .container .row .col-6:nth-child(2) .formContacPageWrap .headerForm p{
    color:#555;
    font-size: 15px !important;
}
.formContact .container .row .col-6:nth-child(1) > div:nth-child(2) ul li{
    font-size: 14px;
    color: #000;
    line-height: 20px;
    position: relative;
    padding-left: 4px;
    margin-left: 12px;
    line-height: 28px;
}
.formContact .container .row .col-6:nth-child(1) > div:nth-child(2) {
    margin-top: 18px;
    margin-left: 35px;
    border-left: 3px solid #59815b;
    padding-left: 20px;
    padding-top: 8px;
}
.formContact .container .row .col-6:nth-child(1) > div:nth-child(2) ul li span{
    font-size: 9px;
    position: absolute;
    left: -10px;
    top: 0;
    color: #59815b;
}
.formContact .container .row .col-6:nth-child(1) > div:nth-child(2) h4 {
    font-size: 16px;
    font-family: 'Freedom 5';
    color: #59815b;
}

/* about */


.about .container:nth-child(1) > .row .col-12 p{
    font-size: 19px !important;
    text-align: center;
    color: #333;
    font-style: italic;
    padding: 3em 5em;
    font-family: "Satisfy", cursive;
}
.about .container .row .col-6:nth-child(1){
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 50px;
}
.about .container .row .col-6:nth-child(1) p{
    font-size: 15px !important;
    color: #333;
    margin-top: 20px;
    line-height: 24px;
}

.about .container .row .col-6:nth-child(1) h5{
    font-size: 18px;
    font-family: 'Freedom 5';
    color: #555;
    letter-spacing: 0.4px;
    line-height: 30px;
}
.about .container .row .col-6:nth-child(1) h5 span {
    color: #ff3232;
}
.about .container .row .col-6:nth-child(1) ul li {
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.2px;
}
.about .container .row .col-6:nth-child(1) ul li span{
    font-weight: 700;
}
.about .container .row .col-6:nth-child(2) > div{
    height: 100%;
}
.about .container-fluid{
    background: url('../asset/imgs/146.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.about .container-fluid .wrap {
    background: rgba(0, 0, 0, 0.7);
}

.about .container-fluid .wrap .container .row{
    padding: 70px 0;
}

.about .container-fluid .wrap .container .row .col-6 h2,
.about .container-fluid .wrap .container .row .col-6 ul li,
.about .container-fluid .wrap .container .row .col-6 p
{
    color: #fff;
}
.about .container-fluid .wrap .container .row .col-6 ul li {
    list-style-type: disc;
    margin-left: 15px;
}
.about .container-fluid > .wrap .container .row .col-6 h2 {
    font-size: 25px;
    font-family: 'Freedom 5';
    line-height: 28px;
}
.about .container-fluid > .wrap .container .row .col-6:nth-child(2) div h4{
    font-size: 35px;
    color:#e74c3c;
    line-height: 32px;
    text-align: center;
    font-weight: 700;
}

.about .container-fluid > .wrap .container .row .col-6:nth-child(2) {
    padding: 0;
}
.about .container-fluid > .wrap .container .row .col-6:nth-child(2) div:nth-child(n + 2) {
    margin-left: 20px;
}
.about .container-fluid > .wrap .container .row .col-6:nth-child(2) div p{
    font-size: 18px !important;
    font-weight: 700;
    letter-spacing: 0.7px;
}
.about .container:nth-child(3) .imgAbout{
    padding: 50px 0 30px 0;
}

.about .container:nth-child(3) .imgAbout  {
    display: flex;
    align-items: center;
    justify-content: center;
}
.about .container:nth-child(3) .imgAbout img{
   width: 650px;
}
/* section form */
.formBigWrap {
    background-image: url('../asset/imgs/bgmo.jpg');
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    padding-top: 65px;
    padding-bottom: 90px;
}
.formBigWrap .container .row .col-6:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 100px;
}
.formBigWrap .container .row .col-6:nth-child(1) img{
    height: 360px;
}

.formBigWrap .container .row .col-6:nth-child(2) {
    padding: 90px 0;
    padding-right: 30px;
}
.formBigWrap .headerForm h2 {
    font-size: 32px;
    font-family: 'Freedom 5' !important;
    color: #fff;
}
.formBigWrap .headerForm p {
    font-size: 15px;
    margin-top: 10px;
    color: rgba(255,255,255,0.7);
}
.formBigWrap .container .row .col-6:nth-child(1) {
    position: relative;
}

.formBigWrap .container .row .col-6:nth-child(1) .ic-play {
    position: absolute;
    top: 45%;
    left: 39%;
  }
  .formBigWrap .container .row .col-6:nth-child(1) .ic-play .popup-gallery {
    position: relative;
    display: inline-block;
  }
  .formBigWrap .container .row .col-6:nth-child(1) .ic-play a {
    width: 84px;
    height: 84px;
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 50% 50%;
    display: inline-block;
    background: transparent;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
  }
  .formBigWrap .container .row .col-6:nth-child(1) .ic-play a::before {
    content: "";
    width: 84px;
    height: 84px;
    position: absolute;
    border: 1px solid #fff;
    border-radius: 100%;
    left: 50%;
    margin-left: -43px;
    bottom: 10%;
    margin-bottom: -9px;
    -webkit-animation: doublePulsation 1.9s ease infinite;
    animation: doublePulsation 1.9s ease infinite;
  }
  .formBigWrap .container .row .col-6:nth-child(1) .ic-play a i {
    font-size: 40px;
    line-height: 84px;
    color: rgba(255, 255, 255, 0.8);
    margin-left: 27px;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

/* travel detail */

.travelDetailed .itemBannerNConner .activeHoverNavItem {
    margin-left: 0;
}

.travelDetailed .itemBannerNConner .activeHoverNavItem .ver-mid
{
    position: absolute;
    top: 0;
    left: 11px;
    width: calc(100% - 30px);
    height: 100%;
    border-radius: 4px;
    background-color: #fff;
}


.travelDetailed .itemBannerNConner .item-out {
    padding: 15px 22px;
    color: #000;
    font-size: 19px;
    text-transform: uppercase;
    font-weight: 700;
}
.travelDetailed .itemBannerNConner .item-out {
    font-family: "Satisfy", cursive;
}
.travelDetailed .itemBannerNConner .activeHoverNavItem svg:nth-child(3)
{
 right: 0;
}

.travelDetailed .itemBannerNConner .contentBannerNConner{
    position: relative;
    margin-left: 20px;
    margin-top: 50px;
}
.travelDetailed .itemWrapContentDel {
    background: url('../asset/imgs/h1-img-30.jpeg') center no-repeat;
    background-size: cover;
    padding: 90px 0 40px 0;
}

.travelDetailed .container-fluid .contentDetail {
    background: url('../asset/imgs/timeline.png') center left repeat-x;
    width: 3000px;
    height: 650px;
    overflow-x: hidden;
    position: relative;
}
.travelDetailed .container-fluid .contentDetail .itemInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 250px;
    position: absolute;

}

/* travelDetailed ContentTab new */

.travelDetailed .contentTabTravelDetails .container-fluid .timeLineA {
    
    /* padding: 0 23px 60px 23px; */
    max-width: 34em;
    position: relative;

}
.travelDetailed .contentTabTravelDetails .container-fluid .timelineWrap {
    
    /* padding: 0 23px 60px 23px; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.travelDetailed .contentTabTravelDetails .container-fluid .timeLineA li:nth-child(odd){
    
    /* padding: 0 23px 60px 23px; */
    border-left: 1px solid rgb(167 167 167 / 40%);;
    padding-left: 2em;
    transform: translateX(17em);
    
}
.travelDetailed .contentTabTravelDetails .container-fluid .timeLineA li:nth-child(even){
    
    /* padding: 0 23px 60px 23px; */
    border-right: 1px solid rgb(167 167 167 / 40%);;
    padding-right: 2em;
    transform: translateX(-16.94em);
    
}

  .travelDetailed .contentTabTravelDetails .container-fluid .timeLineA .itemTimeline::before {
    position: absolute;
    top:0;
    content: '';
    width: 12px;
    background-color: #45a049;
    border: 1px solid #fff;
    height: 12px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-top: 45px;
  }
  .travelDetailed .contentTabTravelDetails .container-fluid .timeLineA .itemTimeline:nth-child(odd):before {
    left: -7px;
  }
  .travelDetailed .contentTabTravelDetails .container-fluid .timeLineA .itemTimeline:nth-child(even):before {
    right: -6px;
  }
  .travelDetailed .contentTabTravelDetails .container-fluid .timeLineA .itemTimeline {
    position: relative;
  }

  .travelDetailed .contentTabTravelDetails .container-fluid .timeLineA .itemTimeline:nth-child(3) .row div,
  .travelDetailed .contentTabTravelDetails .container-fluid .timeLineA .itemTimeline:nth-child(1) .row div
  {
    padding: 8px;
  }
  .travelDetailed .contentTabTravelDetails .container-fluid .timeLineA .itemTimeline:nth-child(3) {
    padding-bottom: 50px;
  }
  .travelDetailed .contentTabTravelDetails .container-fluid .timeLineA .itemTimeline:nth-child(3) .row .col-12 img{
    max-height: 260px;
  }
.travelDetailed .contentTabTravelDetails .container-fluid .timeLineA .itemTimeline h3{
    
    font-size: 17px;
    font-weight: 600;
    line-height: 28px;
    
}
.travelDetailed .contentTabTravelDetails .container-fluid .timeLineA .itemTimeline p{
    font-size: 13px !important;
    color: #969696;
}
.travelDetailed .contentTabTravelDetails .container-fluid .timeLineA .itemTimeline {
    padding-top: 50px;
}
.travelDetailed .contentTabTravelDetails .container-fluid .timeLineA .itemTimeline > div{
    padding: 20px 25px 20px 25px;
    background: url('../asset/imgs/anhbgbb.jpg');
    height: auto;
    border-radius: 5px;
}

.travelDetailed .contentTabTravelDetails .container-fluid > div > .row {
    margin-top: 50px;
}

.travelDetailed .container-fluid .contentDetail .itemInfo:nth-child(1) {
    left: 45px;
    top: 14.5%;
}
.travelDetailed .container-fluid .contentDetail .itemInfo:nth-child(2) {
    left: 12%;
    top: 49%;
}
.travelDetailed .container-fluid .contentDetail .itemInfo:nth-child(3) {
    left: 20.9%;
}
.travelDetailed .container-fluid .contentDetail .itemInfo:nth-child(4) {
    left: 34%;
    top: 18%;
}
.travelDetailed .container-fluid .contentDetail .itemInfo:nth-child(5) {
    left: 50.6%;
    top: 49%;
}

.travelDetailed .container-fluid .contentDetail .itemInfo:nth-child(5) .imgSm {
    margin-top: 40px;
}
.travelDetailed .container-fluid .contentDetail .itemInfo:nth-child(4) h6 {
    margin-bottom: 62px;
}
.travelDetailed .container-fluid .contentDetail .itemInfo:nth-child(2) .imgSm {
    margin-top: 45px;
}
.travelDetailed .container-fluid .contentDetail .itemInfo .imgSm img {
    width: 250px;
    height: 170px;
    border-radius: 7px;
    margin-bottom: 7px;
}
.travelDetailed .container-fluid .contentDetail .itemInfo > h6{
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 45px;
    color: #333;
}
.travelDetailed .container-fluid .contentDetail .itemInfo .wrapMapIcMarked {
    display: flex;
    justify-content: center;
    align-items: center;
}
.travelDetailed .container-fluid .contentDetail .itemInfo .wrapMapIcMarked div {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #59815b;
}

.travelDetailed .contentClearDetail p {
    padding: 35px;
    line-height: 28px;
    text-align: justify;
    color: #333;
}
.travelDetailed .contentClearDetail .bannerBigDetail {
    background: url('../asset/imgs/anhgbb.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 560px;
}
.travelDetailed .contentClearDetail .bannerBigDetail .itemBannerNConner .contentBannerNConner {
    width: 60%;
}
.travelDetailed .contentClearDetail .bannerBigDetail .itemBannerNConner .activeHoverNavItem .ver-mid {
    left: 31px;
    width: calc(100% - 65px);
    background-color: #fff;
}
.travelDetailed .contentClearDetail .bannerBigDetail .itemBannerNConner .item-out {
    padding: 15px 45px;
}
.travelDetailed .contentClearDetail .bannerBigDetail .itemBannerNConner .item-out {
    color: #333;
}
.travelDetailed .contentClearDetail .bannerBigDetail .itemBannerNConner .item-out span:nth-child(2){
   display: block;
   font-weight: 300;
   font-size: 15px;
   font-family: "Montserrat", sans-serif !important;
   line-height: 22px;
   text-transform: initial;
   color: #909090;
}
.travelDetailed {
    /* padding: 60px 0 100px 0; */
}
.travelDetailed .travelDates {
    margin: 30px 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.travelDetailed .travelDates li a{
   padding: 15px 20px;
   border-radius: 25px;
   background-color: #c5c5c5;
   color: #fff;
   font-size: 15px;
   font-weight: 600;
   line-height: 22px;
   margin: 25px 10px;
   text-align: center;
   cursor: pointer;
}

.travelDetailed .travelDates li.active-tab-travel a {
    background-color: #fd5949
}


.travelDetailed  .row .col-12 h4{
    text-align: center;
    font-size: 18px;
    color: #fff;
    background-image: url('../asset/imgs/tablineTi2-removebg-preview.png');
    font-weight: 600;
    line-height: 1.486;
    text-transform: capitalize;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    background-size: 100% 100%;
    padding: 18px 40px;
    opacity: 0.95;
}
.travelDetailed  .row .col-12 p {
    font-size: 14px !important;
    line-height: 22px;
    padding: 40px;
}
.travelDetailed  .row .col-6:nth-child(2) {
    position: relative;
}
.travelDetailed  .row .col-6:nth-child(2) .wrapBk::before{
    position: absolute;
    content: "";
    top: 0;
    left:0;
    background: url('../asset/imgs/bgjj.jpg');
    background-position: center;
    mix-blend-mode: screen;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.travelDetailed .circles  {
  display: flex;
  justify-content: center;
  align-items: center;
}
.travelDetailed .circles ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.travelDetailed .circles ul li{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #333;
    margin: 0 7px;
}
.travelDetailed .circles ul li:hover {
    background-color: #fff;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}
.travelDetailed .circles ul li:hover h3{
    color: #59815b;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}
.travelDetailed .circles ul li h3{
    font-size: 15px;
    font-family: 'Freedom 5';
    margin-bottom: 0;
    color: #333;
}
.travelDetailed .container-fluid > div:nth-child(n+2) {
    border-top: 1px solid #b7b6b6;
    border-top-style: dashed;
    margin-top: 55px;
}


/* vids */
.vids {
    padding: 70px 0;
}
.vids .container {
    max-width: 1250px;
    padding: 20px;
}
.vids h2 {
    text-align: center;
    font-weight: 700;
    font-size: 25px;
}
.vids .container .row .col-sm {
    position: relative;
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.vids .container .row:nth-child(1) .col-sm:nth-child(2) h4 {
    font-size: 25px;
    font-weight: 600;
    line-height: 28px;
}
.vids .container .row:nth-child(1) .col-sm:nth-child(2) {
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 12px;
}
.vids .container .row:nth-child(1) .col-sm:nth-child(2) p{
    font-size: 15px !important;
    font-weight: 350;
    text-align: justify;
    padding-right: 70px;
}
.vids .container .row .col-sm .imgBgVid{
    position: relative;
}
.vids .container .row .col-sm .imgBgVid img {
    border-radius: 10px;
}
.vids .container .row .col-sm .imgBgVid::before{
    content: '';
    background: rgba(0,0,0,0.2);
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    position: absolute;
    border-radius: 10px;
}

.vids .container .row .col-sm .videoPopUp{
    position: absolute;
    font-size: 48px;
    color: #FF0000;
    z-index: 999;
}

.vids .container .row .col-sm .videoPopUp span {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vids .container .row .col-sm .videoPopUp span::before {
   width: 30px;
   height: 30px;
   background-color: #fff;
   content: '';
   position: absolute;
   z-index: 10;
}

.vids .container .row .col-sm .videoPopUp span i {
    z-index: 999;
    position: absolute;
 }




/* before booking */

.beforeBooking h2 {
    font-size: 22px;
    font-family: 'Freedom 5';
    color: #ff3232;
    margin-bottom: 25px;
}

.beforeBooking .menu_tabs{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
.beforeBooking .menu_tabs div {
    display: flex;
    flex-direction: row;
}

.beforeBooking .menu_tabs div li:nth-child(n + 2) {
    margin-left: 8px
}

.beforeBooking .menu_tabs li a {
    text-transform: uppercase;
    font-size: 12px;
    color: #555;
    font-weight: 600;
}
.beforeBooking .menu_tabs li{
    padding: 4px 8px 5px 8px;
}
.beforeBooking .menu_tabs li.active-tab {
    background: #45a049;
    border-radius: 10px;
    transition: all 0.5s ease;
}
.beforeBooking .menu_tabs li.active-tab a {
    color: #fff;
}
.beforeBooking .tab_contain {
    margin-top: 25px;
    background: url('../asset/imgs/anhnuipainting.jpeg');
    padding: 25px;
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
}
.beforeBooking .tab_contain .tab-content {
   position: relative;
}
.beforeBooking .tab_contain::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255,255,255,0.8);
}

.beforeBooking .tab_contain .tab-content > li {
    margin-left: 25px;
    margin-top: 12px;
}
.beforeBooking #tab1 h5,
.beforeBooking #tab1 h6
{
    font-family: 'Freedom 5';
}

.beforeBooking #tab1 h6 {
    color: #555;
}
.beforeBooking #tab1 ul,
.beforeBooking #tab1 h5
{
    margin-bottom: 15px;
}
.beforeBooking #tab1 ul li{
   list-style-type: disc !important;
   margin-left: 25px;
}
.beforeBooking #tab1 p:last-child {
    color: #59815b;
    font-weight: 600;
}
.news {
    overflow: auto;
}
.news .swiper {
    /* padding: 0 90px; */
    overflow: hidden !important;
}
.news .slidePhotosBlog {
    position: relative;
    margin-top: 70px;
}
.news .slidePhotosBlog h4 {
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    margin: 20px 0 10px 0;
}

.news .slidePhotosBlog p{
    font-size: 14px;
    color: #c5c5c5;
    font-weight: 450;
    text-align: center;
    margin-top: 0 0 15px 0;
}

.news .slidePhotosBlog .swiper .swiper-slide div {
    height: 100%;
}
.news .slidePhotosBlog .swiper  {
    height: 390px;
}


.news .slideBlogs .swiper .swiper-slide > div:nth-child(1){
    height: 270px;
}
.news .swiper .swiper-slide .txt{
    margin-top: 20px;
}
.news .swiper .swiper-slide .txt h3{
    font-size: 19px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 28px;
}
.news .swiper .swiper-slide .txt p{
    font-size: 14px !important;
    color: rgba(0,0,0,0.5);
}
.news .swiper .swiper-slide .txt .info {
    display: flex;
    flex-direction: row;
}
.news .swiper .swiper-slide .txt .info li{
    display: flex;
    font-size: 14px;
    line-height: 22px;
    color: #878787;
    font-weight: 300;
}

.news {
    margin: 60px 0 30px 0;
}

.news .titleHeadForEachP {
    margin-bottom: 45px;
}
.news .slideBlogs{
    position: relative;
    padding: 0 90px;
}
.news .swiper {
    height: auto;
}
.news .swiper .swiper-slide .txt .info li:hover{
    color: #59815b;
}
.news .swiper .swiper-slide .txt .info li:nth-child(n+2) {
    margin-left: 15px;
}
.news .swiper .swiper-slide .txt .info li span:nth-child(2) {
   padding-left: 8px;
}

.cirleshapeTwo {
    position: relative;
}

.cirleshapeTwo div:nth-child(1)
{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    opacity: .5;
    background-color: #45a049;
}

.cirleshape {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    opacity: .3;
    background-color: #45a049;
}

.cirleshapeTwo div:nth-child(2) {
    width: 90px;
    position: absolute;
    top: 50%;
    left: 30%;
    height: 90px;
    border-radius: 50%;
    opacity: .7;
    background-color: #45a049;
}


.tourPrices {
    margin-top: 60px;
}
.tourPrices .container {
    margin: auto;
    padding: 10px;
    max-width: 1020px;
    margin-top: 39px;
}

.tourPrices .titleHeadForEachP {
    font-size: 22px;
    font-family: 'Freedom 5';
    color: #ff3232;
    margin-bottom: 25px;
}

.tourPrices .container  .tour-option {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background: url('../asset/imgs/anhbgbb.jpg');
    transition: 0.3s;
    margin-bottom: 20px;
    padding: 40px;
    position: relative;
    border-radius: 10px;
    text-align: center;
}

.tourPrices .container  .tour-option .bannerTop{
    /* background-size: cover; */
    background-size: 100% 100%;
    position: absolute;
    top: -27px;
    left: 25px;
    right: 25px;
    background-color: #333;
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.tourPrices .container .tour-option:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.tourPrices .container .tour-option h2 {
    transition: 0.3s;
    border-radius: 5px;
    font-family: 'Freedom 5';
    text-align: left;
    margin-top: 37px;
    color: #59815b;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0;
}
.tourPrices .container .tour-option ul:nth-child(3) {
    margin: 25px 0 10px 0;
    display: flex;
    flex-wrap: wrap;
}
.tourPrices .container .tour-option ul:nth-child(3) li{
    color: #212529;
    font-size: 14px !important;
    margin-top: 4px;
    /* padding: 15px 0 10px 0; */
    text-align: left;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 50%;
    border-left: 2px solid #59815b;
    padding-left: 13px;
}

.tourPrices .container .tour-option ul:nth-child(3) li:nth-child(n + 3){
    margin-top: 15px;
}

.tourPrices .container .tour-option ul:nth-child(3) li p{
    margin-bottom: 0;
}

.tourPrices .container .tour-option ul:nth-child(4) li{
    color: #212529;
    font-size: 13px;
    margin-top: 10px;
    line-height: 22px;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.tourPrices .container .tour-option ul:nth-child(4) {
    margin-top: 25px;
}

.tourPrices .container .tour-option ul:nth-child(3) li p:nth-child(2){
    font-weight: 800;
}

.tourPrices .container .tour-option ul:nth-child(3) li p:nth-child(1){
    font-weight: 400;
    font-size: 12px !important;
}

.tourPrices .container  .book-now {
    
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin-top: 40px;
    border-radius: 20px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.tourPrices .container .book-now:hover {
    background-color: #45a049;
    color: #ffff;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.tourPrices .vehicles {
    margin-top: 40px;
}
.tourPrices .vehicles .KindVehicleBtn{
    text-align: center;
    padding: 30px 0;
}
.tourPrices .vehicles .KindVehicleBtn span{ 
    padding: 12px 30px;
    background: #fd5949;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 25px;
    font-size: 14px;
    text-align: center;
}

.tourPrices .vehicles h2{
    text-align: center;
    font-weight: 700;
    font-size: 25px;
}

.tourPrices .slideVehicle {
    padding: 15px 140px;
    position: relative;
}

.tourPrices .slideVehicle .vehicles-swiper-container  {
    padding: 20px 0;
    height: auto;
}

.tourPrices .slideVehicle .vehicles-swiper-container .swiper-wrapper .swiper-slide {
    background-color: #f6f6f6;
    padding-bottom: 30px;
    transition: 0.4s;
    border-radius: 0 0 20px 20px;
}
.tourPrices .slideVehicle .vehicles-swiper-container .swiper-wrapper .swiper-slide .top{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 20px 25px;
}
.tourPrices .slideVehicle .vehicles-swiper-container .swiper-wrapper .swiper-slide .top h4{
    font-size: 17px;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
}
.tourPrices .slideVehicle .vehicles-swiper-container .swiper-wrapper .swiper-slide .top p {
    margin-bottom: 0;
}
.tourPrices .slideVehicle .vehicles-swiper-container .swiper-wrapper .swiper-slide .center{
    border-top: 0.8px solid #c5c5c5;
    text-align: center;
}
.tourPrices .slideVehicle .vehicles-swiper-container .swiper-wrapper .swiper-slide .center p{
    padding: 25px 30px;
    margin-bottom: 0;
    font-size: 14px !important;
    font-weight: 700;
    letter-spacing: 0.3px;
    font-style: italic;
}
.tourPrices .slideVehicle .vehicles-swiper-container .swiper-wrapper .swiper-slide .bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    border-top: 0.8px solid #c5c5c5;
}
.tourPrices .slideVehicle .vehicles-swiper-container .swiper-wrapper .swiper-slide li:nth-child(n + 2){
    margin-top: 6px;
}
.tourPrices .slideVehicle .vehicles-swiper-container .swiper-wrapper .swiper-slide li span:nth-child(1){
    font-size: 13px;
    color: #59815b;
}
.tourPrices .slideVehicle .vehicles-swiper-container .swiper-wrapper .swiper-slide li span:nth-child(2){
    font-size: 15px;
    padding-left: 3px;
    font-weight: 500;
}
.tourPrices .slideVehicle .vehicles-swiper-container .swiper-wrapper .swiper-slide .top p:nth-child(3){
    margin-bottom: 0;
    font-weight: bold;
    font-size: 18px !important;
    letter-spacing: 0.7px;
    margin-top: 10px;
}
.tourPrices .slideVehicle .vehicles-swiper-container .swiper-wrapper .swiper-slide .top p:nth-child(4){
    font-weight: 450;
    color: #c8c8c8;
    font-size: 14px !important;
    font-style: italic;
}

.tourPrices .slideVehicle .vehicles-swiper-container .swiper-wrapper .swiper-slide .top div:nth-child(2) {
    max-width: 303px;
    height: 202px;
}

.tourPrices .slideVehicle .vehicles-swiper-container .swiper-wrapper .swiper-slide .wrapbtnBookTourPrice{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0 15px 0;
}
.tourPrices .slideVehicle .vehicles-swiper-container .swiper-wrapper .swiper-slide .wrapbtnBookTourPrice a{
    padding: 8px 30px;
    border-radius: 30px;
    background: #45a049;
    color: #fff;
    text-transform: uppercase;
    font-weight: 450;
    font-size: 15px;
}
.tourPrices .slideVehicle .vehicles-swiper-container .swiper-wrapper .swiper-slide .wrapbtnBookTourPrice a:hover{
    background: #59815b;
}
.tourPrices .slideVehicle .vehicles-swiper-container .swiper-wrapper .swiper-slide {
    background-color: #f6f6f6;
    padding-bottom: 30px;
    transition: 0.4s;
    border-radius: 0 0 20px 20px;
}
.tourPrices .slideVehicle .vehicles-swiper-container .swiper-wrapper .swiper-slide:hover {
    background-color: #fff;
    box-shadow: 0px 4px 20px #dddddd;
    transition: 0.4s;
}

/* blogs */

@keyframes doublePulsation {
    0% {
      transform: scale(1, 1);
      opacity: 0.1;
    }
    50% {
      transform: scale(1.2, 1.2);
      opacity: 0.3;
    }
    100% {
      transform: scale(1.4, 1.4);
      opacity: 0;
    }
  }

@media only screen and (max-width: 1024px) {
  .header-page {
    display: none;
  }
  .header-mobile {
    display: block;
  }

}

@media only screen and (max-width: 1600px) {
    .travelDetailed .container-fluid .contentDetail .itemInfo:nth-child(3) {
        left: 17.5%;
    }
    .travelDetailed .container-fluid .contentDetail .itemInfo:nth-child(4) {
        left: 29%;
        top: 20%;
    }
    .travelDetailed .container-fluid .contentDetail .itemInfo:nth-child(5) {
        left: 38.9%;
         top: 53%;
    }
}


/* popup */

.popUpWrapper {
    position: fixed;
    height: 100vh;
    width: 100%;
    top:0;
    left:0;
    padding: 0;
    margin:0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000;
    transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    display: none;
}

.popUpWrapper .wrapTP {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.popUpWrapper .wrapContent {
    position: relative;
    z-index: 1010;
    background-color: #fff;
    width: 45%;
    padding: 20px 35px;
}
.popUpWrapper .wrapContent .icon-exit {
    position: absolute;
    width: 35px;
    height: 35px;
    top: -15px;
    right: -15px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow:
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075)
    ;    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.popUpWrapper .wrapContent .icon-exit span i{
    font-size: 12px;
}


@media only screen and (max-width: 992px) {
    .formContact .container:nth-child(1) .row .col-6 {
        width: 100%;
    }
    .formContact .container:nth-child(1) .row .col-6:nth-child(2) {
        padding-top: 20px;
    }
    .about .container .row .col-6 {
        width: 100%;
    }
    .about .container .row .col-6:nth-child(2) {
        padding-top: 25px;
    }
    .travelDetailed .container-fluid .contentDetail .itemInfo {
        position: static;
    }
    .travelDetailed .container-fluid .contentDetail .itemInfo .wrapMapIcMarked  {
        display: none;
    }
    .travelDetailed .container-fluid .contentDetail .itemInfo:nth-child(4) h6 {
        margin-bottom: 25px;
    }
    .travelDetailed .container-fluid .contentDetail > .itemInfo  h6 {
        margin-bottom: 25px;
    }
    .travelDetailed .container-fluid .contentDetail .itemInfo .imgSm img {
        width: 100%;
        height: auto
    }
    .travelDetailed .container-fluid .contentDetail .itemInfo {
        max-width: 100%;
        width: 100%;
        align-items: center;
    }
    .travelDetailed .container-fluid .contentDetail .itemInfo:nth-child(2) .imgSm,
    .travelDetailed .container-fluid .contentDetail .itemInfo:nth-child(5) .imgSm
    {
        margin-top: 0;
    }
    .travelDetailed .container-fluid .contentDetail {
        background: transparent;
        height: auto;
        width: 100%;
    }
    .travelDetailed .contentTabTravelDetails .container-fluid .timeLineA li:nth-child(odd),
    .travelDetailed .contentTabTravelDetails .container-fluid .timeLineA li:nth-child(even)
    {
    
        /* padding: 0 23px 60px 23px; */
        border-left: 1px solid rgb(167 167 167 / 40%);;
        padding-left: 12px;
        transform: translateX(0);
        border-right: none;
    }

    .travelDetailed .contentTabTravelDetails .container-fluid .timeLineA li:nth-child(even)::before {
        left: -7px;
    }
    .travelDetailed .contentTabTravelDetails .container-fluid .timeLineA {
        padding: 10px;
    }


    /* blog */
}

@media only screen and (max-width: 778px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
  .swiper {
    height: 410px;
}
.banner .swiper-slide .txt p {
    padding: 0 5%;
  }
  .travelDetailed .container-fluid .contentDetail .itemInfo {
    padding: 0 15px;
  }
}

@media only screen and (min-width: 1920px) {
    .container {
        max-width: 1650px;
    }
    .travelDetailed .container .row .col-12 ul li .itemTravelContent > .row:nth-child(2) > .col:nth-child(1) {
        width: 36%;
    }
  }
  @media only screen and (max-width: 1600px) {
    .about .container .row .col-6:nth-child(1) p,
    .about .container .row .col-6:nth-child(1) ul li
    {
        font-size: 14px !important;
    }
    .about .container .row .col-6:nth-child(1) h5{
        font-size: 17px;
  }
  .explore {
    height: 48px;
  }
}
/* @media only screen and (max-width: 499px) {
    .banner .swiper-slide .txt p {
        display: none;
    }
} */
